<div class="col-md-1">
  <div class="card mb-15p">
    <div class="card-header black">{{ config('website_settings.name') }}</div>
    <div class="p-2">
      <div class="list-group">
        <div class="list-group-item {% if active %}active{% endif %}"> 
            <a href="/shop" {% if active %}style="color: #fff !important"{% endif %}>Front Page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-15p">
    <div class="card-header black">Shop</div>
    <div class="p-2">
      <div class="list-group">
        {% for item in data.shop %}
        <div class="list-group-item {% if item.id == data.offer.id %}active{% endif %}"> 
            <a href="/shop/order/view/{{item.id}}" {% if item.id == data.offer.id %}style="color: #fff !important"{% endif %}>{{item.title}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>